*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
insto-web/.bundle
insto-web/vendor/bundle
insto-web/log/*
insto-web/tmp/*
insto-web/db/*.sqlite3
insto-web/public/system/*
insto-web/coverage/
insto-web/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
