<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.icreatesecretproject"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />  
    <permission android:name="com.example.icreatesecretproject.permission.C2D_MESSAGE" 
       android:protectionLevel="signature" />
    <uses-permission android:name="com.example.icreatesecretproject.permission.C2D_MESSAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:name="com.example.icreatesecretproject.InstoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/test_string"
        android:theme="@style/AppTheme" 
        >
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.icreatesecretproject" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
        <activity
            android:name="com.example.icreatesecretproject.MainActivity"
            android:theme="@style/SliderAppTheme" 
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.DisplayPictureActivity"
            android:label="@string/title_activity_display_picture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.LocationGrid.LocationGridActivity"
            android:theme="@style/SliderAppTheme" 
            android:label="@string/title_activity_location_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.TakePhoto.TakePhotoSurfaceView"
            android:label="@string/title_activity_take_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.TakePhoto.TakePhotoActivity"
            android:label="@string/title_activity_take_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.LocationGrid.LocationInFacultyActivity"
            android:label="@string/title_activity_location_in_faculty"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.MakeARequest.MyRequestActivity"
            android:theme="@style/SliderAppTheme" 
            android:label="@string/title_activity_my_request"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.LocationGrid.LocationDisplayInformationActivity"
            android:label="@string/title_activity_location_display_information"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.CheckOthersRequest.CheckOthersRequestActivity"
            android:theme="@style/SliderAppTheme" 
            android:label="@string/title_activity_check_others_request"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.Login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
	        android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.icreatesecretproject.CheckOthersRequest.CheckOtherRequestTakePhotoActivity"
            android:label="@string/title_activity_check_other_request_display_information" >
        </activity>
    </application>

</manifest>